.git
.env
.env.*
.venv/
.venv-airflow-wsl/
venv/
env/
ENV/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.vscode/
.idea/
data/
logs/
.airflow/
dbt/target/
dbt/dbt_packages/
dbt/logs/
*.egg-info/
